body {
    margin: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
header {
    background: #424950;
    min-height: 45px;
}

.header {
    display: flex;
    width: 100%;
    min-height: 45px;
    align-items: center;
    flex-shrink: 0;
}
.header div {
    align-items: center;
    margin:0 auto;
}
.social-menu img {
    margin-left: 8px;
}

.main {
    width: 80%;
}

.top-box {
    display: flex;
    align-items: center;
    min-height: 50px;
}
.catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(293.76deg, #7136FF 5.11%, #A469FE 97.99%);
    border-radius: 2px;
    width: 13%;
    min-height: 50px;
    margin-left: 94px;
}

#parts-search {
    width: 29%;
    height: 50px;
    margin-left: 40px;

}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(276.28deg, #7136FF 5.11%, #A469FE 97.99%);
    border-radius: 2px;
    margin-left: 52px;
}
.text-cart {
    margin-left: 1%;
    min-height: 41px;
    color: #3A3C4C;
}