body {
    margin: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #FFFFFF;
}
header {
    background: #424950;
    min-height: 45px;
}
.button {
    background: linear-gradient(293.76deg, #7136FF 5.11%, #A469FE 97.99%);
    border-radius: 2px;
}

.header {
    display: flex;
    width: 100%;
    min-height: 45px;
    align-items: center;
    flex-shrink: 0;
}

.header div {
    align-items: center;
    margin:0 auto;
}

section {
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.social-menu img {
    margin-left: 8px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.top-box {
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-top: 3%;
}

.logo {
    align-self: center;
    min-width: 115px;
}

.menu-items {
    display: flex;
    width: 100%;
    margin-left: 8%;
    justify-content: space-around;
}

.catalog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

#parts-search {
    min-width: 52%;
    margin-left: -2%;
}

.cart {
    display: flex;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}

.text-basket {
    color: #3A3C4C;
    margin-left: 12%;
}

.hardware-list {
    height: 100%;
    width: 80%;
    min-width: 883px;
    margin-top: 3%;
}

.hardware-item {
    box-shadow: 0px 0px 15px rgba(170, 179, 204, 0.34);
    border-radius: 10px;
    background: #FFFFFF;
    color: #3A3C4C;
    min-height: 85px;
    width: 95%;
    margin-bottom: 0.5%;
}

.scrolldown-button {
    background: url(img/arrow.png) no-repeat;
    background-position: 100% 50%;
    text-align: left;
    text-indent: 4%;
    font: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
}
.scrolldown-button_filter {
    text-indent: 0;
    padding: 0;
    min-height: 51px;
}
.hardware-item .hardware-item_opened {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 443px;
    padding-left: 5%;
    padding-right: 5%;

}
.hardware-item .hardware-item__button_flat {
    display: flex;
    align-self: flex-start;
    color: #3A3C4C;
    min-height: 85px;
    width: 95%;
    margin-bottom: 0.5%;
    background-image:  url(img/check.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-bottom: 1px solid #e2e2e2;
    min-width: 100%;
    margin: 0px;

}
.hardware-item .hardware-item_closed {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    background-image:  url(img/check.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
}
.hardware-item .hardware-item_selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: start;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 118px;
    margin: 0px;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.checkbox_selected {
    background: linear-gradient(265.73deg, #69B542 -4.68%, #42B5AE 77.52%);
}
.hardware-item .hardware-item_selected .product-type {
    font-weight: 600;
}
.remove-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

.hardware-item .hardware-item__filters {
    text-align: left;
    max-width: 22%;
    align-self: flex-start;
    border-right: 1px solid #e2e2e2;
    padding-right:  20px;
    font-size: 12px;
    line-height: 15px;

}
.hardware-item__cost-input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    width: 48%;
    height: 34px;
}
.hardware-item__filter {
    color: #3A3C4C;
    border-bottom: 1px solid #e2e2e2;
}

.hardware-item__cost-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 7%;
}
.hardware-item__filter_opened {
    padding-bottom: 7%;
}

.hardware-item__filter-checkboxes {
    display: flex;
    justify-content: space-around;
}
.products-list {
    width: 70%;
}
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product .product-text {
    text-align: left;
    min-width: 65%;
}
.product .product-text .product-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.product .product-text .product-cost {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.product .product-text .product-description {
    font-size: 10px;
    line-height: 16px;
}
.product .add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

.hardware-list-info {
    max-width: 320px;
    min-width: 280px;
    margin-top: 3%;
    margin-left: 2%;
}

.box {
    background: #FFFFFF;
    color: #3A3C4C;
    box-shadow: 0px 0px 15px rgba(170, 179, 204, 0.34);
}

.total-items {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    height: 35%;
}

.total-items span a:link {
    text-decoration: none;
    border-bottom: 1px dashed;
}
.total-items .hardware-list-info__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 40px;
    min-width: 245px;
    width: 80%;
    height: 60%;
}

.total-cost {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    min-height: 25%;
    max-height: 30%;
}

.total-cost div {
    display: flex;
    flex-direction: column;
    min-width: 245px;
    width: 80%;
    height: 80%;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    min-height: 54px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D5D6DA;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    height: 77px;
    margin-top: 87px;
    width: 100%;
    color: #3A3C4C;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 85%;
    border-top: 1px solid #e2e2e2;
}